body {
    background-color:#1b0a10;
    color: white;
    text-align: center;
}

#topo {
    background-color: #39111f;
}

.titulo {
    font-size: 40px;
    letter-spacing: 3px;
}

.corpo {
    background-color: #4a172a;
}
